{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>index.html</h1>
  <p>extends base.html</p>
</div>
<h4>Flashed Messages:</h4>
{% for mesg in get_flashed_messages() %}
  <h5>{{ mesg }}</h5>
{% endfor %}

<hr>
<h4><a href="{{ url_for('qrcode.qr') }}">Create basic/colorful QR-Codes</a></h4>
<h4><a href="{{ url_for('qrcode.wifi_qr') }}">Create QR-Codes to show your WiFi network</a></h4>
<h4><a href="{{ url_for('qrcode.image_qr') }}">Create Image QR-Codes</a></h4>
<hr>

{% endblock %}